html,
body {
  height: 100%;
  font-family: Cabin, Helvetica, Arial, sans-serif;
  font-size: 19px;
  color: #666;
  line-height: 2em;
}

#footer {
  text-align: center;
  margin: 30px 0;
  font-size: 12px;
}
#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}


/* Custom page CSS
-------------------------------------------------- */

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: Cabin, Helvetica, Arial, sans-serif;
  color: #333;
}

a {
  color: #333;
}
a:hover,
a:active,
a:focus {
  color: #666;
}

code {
  font-size: 80%;
}

.nav {
  margin-bottom: 50px;
  text-transform: uppercase;
  font-size: 14px;
}
.nav li a {
  color: #999;
}
.nav li.active a {
  color: #000;
}
.nav li:hover {
  background-color: #fff;
}
.nav li a:hover,
.nav li a:active,
.nav li a:focus {
  color: #333;
  background-color: #fff;
}


article {
  padding: 0 0 100px;
}
article header {
  margin: 35px 0;
}
article footer {
  text-align: center;
  font-size: 14px;
}
.post {
  width: 70%;
  margin: 0 auto;
}
.post-image {
  text-align: center;
  margin-left: -50px;
}
.post h2 {
  text-align: center;
  text-transform: uppercase;
}
.post h2.external_link {
  text-transform: none;
}
.post h2 a {
  color: #333;
}
.post h2 a:hover,
.post h2 a:active {
  text-decoration: none;
  color:#666;
}

.aows-header {
  margin-bottom: 40px;
}
.aows-header h1 {
  font-size: 48px;
  text-align: center;
  color: #333;
}
.aows-header h1 span.ws {
  background-color: #333;
  color: #fff;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: 2px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}


[class^="icon-"]:hover, 
[class*=" icon-"]:hover,
[class^="icon-"]:active, 
[class*=" icon-"]:active,
[class^="icon-"]:focus, 
[class*=" icon-"]:focus {
  text-decoration: none;
}

div.row > div > div.row {
  margin-bottom: 15px;
}
.instagram {
  font-size: 30px; 
  text-align: center; 
  margin: 30px 0;
}