---
layout: default
title: adrian.otero.vila
---

<div id="home">

  <div id="posts_area">
    <h1>tech & programming</h1>
    <ul class="posts">
      {% for post in site.categories.tech %}
        <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>

    <h1>cool & personal</h1>
    <ul class="posts">
      {% for post in site.categories.aows %}
        <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>
  </div>

  <iframe src="http://snapwidget.com/in/?u=YW93c3xpbnwxMDB8NXwxfHx5ZXN8MTB8bm9uZXxvblN0YXJ0" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:50%; height: 120px" ></iframe>
</div>