<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>
        <div id="header">
          <h1>{{ site.name }}</h1>

          <ul class="info">
            <li><a href="mailto:adrian@otero.ws"><img src="/img/email.png" /> adrian@otero.ws</a></li>
            <li><a href="http://twitter.com/aows/"><img src="/img/twitter.png" /> @aows</a></li>
            <li><a href="http://instagram.com/aows/"><img src="/img/instagram.png" /> @aows</a></li>
            <li><a href="http://github.com/aows/"><img src="/img/github.png" /> github.com/aows</a></li>
          </ul>
        </div>
        <div class="container">
          <div class="site">

                {{ content }}

          </div>
        </div> <!-- /container -->

    </body>
</html>
